python-dotenv

pandas==3.0.3
numpy==2.5.1
pymongo[srv]
certifi
scikit-learn==1.9.0

matplotlib
seaborn
jupyter
notebook
ipykernel
openpyxl
missingno
PyYAML

streamlit==1.62.0

fastapi
uvicorn
requests